<br>
<div class="container-fluid">
  <div class="row">
    <div class="col-2 ">
      <app-sidenav></app-sidenav>
    </div>
    <div class="col-8 text-center"style="height:30px">
      <img src="assets\title.gif" alt="title" style="height:70px">
    </div>
    <div class="col-2 d-flex flex-row-reverse">
      <button class="btn btn-primary fas fa-user"></button>
    </div>
  </div>
  <br>
  <div class="row text-center" style="color: rgb(202, 193, 180);background-image: linear-gradient(black, #303636, rgb(61, 80, 71))">
    <div class="col-9 "style="height: auto;">
      <div class="row" style="height: 60%;">
        <app-matchmaking></app-matchmaking>
      </div>
      <div class="row " style="margin-left:20%">
        <app-livechat></app-livechat>
      </div>
    </div>
    <div class="col-3"style="height: 800px;background-image: linear-gradient(#191970, #2F4F4F, #708033)">
      <app-learderboard></app-learderboard>
    </div>
  </div>
</div>